<li class="nav-header">Sidebar</li>
<li><%= link_to "Rooms", rooms_path  %></li>
<li><%= link_to "Categories", categories_path  %></li>
<li><%= link_to "Room categories", room_categories_path %></li> 
<li><%= link_to "Devices", devices_path %></li>

              