<%= form_for @room, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
    <div class="controls">
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
      <%= stylesheet_link_tag "application", "token-input-facebook" %>
      <%= javascript_include_tag :defaults, "jquery.tokeninput" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rooms_path, :class => 'btn' %>
  </div>
  
<% end %>
